[Unit]
Description=Set the kiosk session as default

[Service]
Type=oneshot
ExecStart=/usr/local/bin/set-kiosk-session.sh

[Install]
WantedBy=multi-user.target
