[Unit]
Description=Red Hat AI Inference Server
Wants=podman-user-wait-network-online.service
After=podman-user-wait-network-online.service

[Container]
ContainerName=rhaiis
Image=rhaiis.image
Volume=rhaiis.volume:/opt/app-root/src
AddDevice=nvidia.com/gpu=all
SecurityLabelDisable=true
ShmSize=4g
PublishPort=8000:8000
UserNS=keep-id:uid=1005
Pull=never
EnvironmentFile=/etc/vllm/.env
EnvironmentFile=/var/vllm/.env
Entrypoint=/bin/sh
Exec=-c "python3 -m vllm.entrypoints.openai.api_server $VLLM_EXEC"

[Service]
Restart=always
# Extend Timeout to allow time to pull the image
TimeoutStartSec=1800
ExecStartPre=touch /var/vllm/.env

[Install]
WantedBy=multi-user.target default.target
